@use '../styles/variables' as var;
.footer{
    box-sizing: border-box;
    height: 200px;
    // background-color: var.$color-surface;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div{
    box-sizing: border-box;
    height: 200px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px 30px;
}
