.section{
    box-sizing: border-box;
    height: 90%;
}
.ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    height: inherit;
    li{
        width: fit-content;
        font-size: 1.1rem;
    }
}