@use '../styles/variables' as var;
nav.mainNav {
  display: flex;
  background-color: var.$color-surface;
  height: 102px;
  width: 98%;
  margin: 0 1%;
  border-radius: 10px;
  align-items: center;
  max-width: 2160px;
  z-index: 1000;
  box-shadow: 0 2px 5px var.$color-box-shadow;

  #welcomeSection {
    text-decoration: none;
  }

  .logoLink {
    height: auto;
    font-size: 2.3rem;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.08);
    }
  }

  .dropDownButton {
    display: none;
  }

  .wrapper {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  .logoContainer {
    display: flex;
    width: auto;
    align-items: center;
    border-radius: 8px;
  }

  .buttonsContainer {
    display: flex;
    height: 100%;
    width: 570px;
    gap: 10px;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
  }

  @media (max-width: 991px) {
    .buttonsContainer {
      display: none;
    }

    .dropDownButton {
      display: flex;
    }
  }
}
