$color-primary: #3B82F6;        
$color-primary-light: #93C5FD;    
$color-primary-dark: #1E40AF;     
$color-background-btn:#3c83f6;
$color-background-btn-hover: #2563eb;
$color-accent: #10B981;           

$color-background: #F9FAFB;      
$color-surface: #FFFFFF;          
$color-border: #E5E7EB;          

$color-text-primary: #1F2937;     
$color-text-secondary: #6B7280;  
$color-text-inverse: #FFFFFF;     


$color-success: #10B981;          
$color-warning: #F59E0B;         
$color-error: #EF4444;           
$color-info: #0EA5E9;             

$color-disabled: #D1D5DB;         
$color-hover-overlay: rgba(0, 0, 0, 0.04);  
$color-box-shadow:rgba(0, 0, 0, 0.1) ;

$breakpoint-mobile: 768px;