@import "../../styles/variables";

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}

@media (max-width: $breakpoint-mobile) {
  .statsGrid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
