.skill-tag {
  display: inline-block;
  background: linear-gradient(to right, rgba(99, 102, 241, 0.5), rgba(168, 85, 247, 0.5));
  color: white;
  padding: 4px 10px;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 4px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #c7d2fe;


  &:hover {
    background:white;
    color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
    border-color: black;
  }
}
