@use '../../styles/variables' as var;
.rightSide,
.leftSide {
  background-color: var.$color-primary-light; 
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: var.$breakpoint-mobile) {
    display: none;
  }
}

.leftSide {
  background-color: var.$color-accent;
}

.title {
  text-align: center;
  color: var.$color-text-inverse;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  text-align: center;
  color: var.$color-text-inverse;
  font-size: 1rem;
}
