@use '../../styles/variables' as var;
.rightSide {
  background-color: var.$color-primary-light;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftSide {
  background-color: var.$color-accent;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: var.$color-text-inverse;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  text-align: center;
  color: var.$color-text-inverse;
  font-size: 1rem;
}
