@use '../../styles/variables' as var;
.formContainer {
    max-width: 500px;
    min-height: 500px;
    background: var.$color-surface;
    border-radius: 1.5rem;
    box-shadow: 0 4px 10px var.$color-box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    @media (min-width: var.$breakpoint-mobile) {
      width: 100%;
      margin: auto;
    }
}


.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
    color: var.$color-text-primary;
}

.inputContainer {
    width: 80%;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.errorText{
    color: #ef4444;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}
.submitButton {
    width: 60%;
    padding: 0.75rem;
    background-color: var.$color-background-btn;
    color: var.$color-text-inverse;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var.$color-background-btn-hover;
    }
}
.successText{
    color: #75ef44;
    font-size: 1rem;
    margin-top: 0.5rem;
}