.formContainer {
    min-width: 500px;
    min-height: 500px;
    // max-width: 700px;
    // background-color: transparent;
    margin: auto;
    background: rgba(98, 254, 236, 0.03);
    border-radius: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #1f2937;
}

.inputContainer {
    width: 80%;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.submitButton {
    width: 60%;
    padding: 0.75rem;
    background-color: #3b82f6;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #2563eb;
    }
}