@use '../../styles/variables' as var;
.navButtonLink {
  background-color: var.$color-background-btn;
  color: var.$color-text-inverse;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var.$color-background-btn-hover;
  }

  &.active {
    font-weight: bold;
  }
}
