@use '../../styles/variables' as var;

.search-bar {
  flex :1;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  // background-color: red;

  @media (max-width: var.$breakpoint-mobile) {
    flex: none;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
  }
}

.search-input {
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid black;
  outline: none;
  width: 70%;
  @media (max-width: var.$breakpoint-mobile) {
    width: 100%;
  }
}

.select-wrapper {
  width: 20%;
  min-width: 8rem;
  // background-color: aqua;
  height: 4rem;
  display: flex;
  align-items: center;
  

  @media (max-width: var.$breakpoint-mobile) {
    width: 100%;
  }
  .css-b62m3t-container{
    // background-color: yellow;
    width: 100%;
  }
  .react-select__control {
    // background-color: wheat;
    // height: 100% !important;
    min-height: 100% !important;
    border-radius: 20px;
    border: 2px solid black;
    background-color: var.$color-surface;
    font-size: 1rem;
    box-shadow: none;
    display: flex;
    align-items: center;
  }

  .react-select__value-container {
    padding: 0 8px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .react-select__indicators {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .react-select__indicator-separator {
    display: none;
  }

  .react-select__menu {
    font-size: 0.95rem;
    z-index: 10;
  }

  .react-select__single-value {
    color: var.$color-text-primary;
  }
}

.search-btn {
  width: 10%;
  height: 2.5rem;
  border-radius: 20px;
  border: 2px solid black;
  background-color: var.$color-background-btn;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: var.$breakpoint-mobile) {
    width: 100%;
  }

  &:hover {
    background-color: var.$color-background-btn-hover;
  }
}
