.container {
  background-color: white;
  width: 100%;
  height: 4rem;
  border-radius: 20px;
  display: flex;
  border: 2px solid black;
  overflow: hidden;
}

.button,
.input,
.select {
  border: none;
  height: 100%;
  outline: none;
}

.button {
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.input {
  flex: 1;
  padding: 0 1rem;
  font-size: 1rem;
}

.select {
  width: 6rem;
  background-color: #f0f0f0;
  cursor: pointer;
  padding-left: 0.5rem;
}
