
@use '../styles/variables' as var;

.loginContainer,
.registerContainer {
  display: flex;
  height: auto;
  width: 100%;
  min-height: 800px;

  @media (max-width: var.$breakpoint-mobile) {
    flex-direction: column;
    min-height: auto;
  }
}

.infoPanelWrapper {
  flex: 1;

  @media (max-width: var.$breakpoint-mobile) {
    display: none;
  }
}

.loginContainer {
  flex-direction: row;

  @media (max-width: var.$breakpoint-mobile) {
    flex-direction: column;
  }
}

.registerContainer {
  flex-direction: row-reverse;

  @media (max-width: var.$breakpoint-mobile) {
    flex-direction: column;
  }
}

