@use '../styles/variables' as var;

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.form input,
.form select {
  padding: 0.4rem;
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.editButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submitButton {
    width: 60%;
    padding: 0.75rem;
    background-color: var.$color-background-btn;
    color: var.$color-text-inverse;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var.$color-background-btn-hover;
    }
}
.isSubmited{
    background-color: var.$color-primary-light;
    &:hover{
        background-color: var.$color-primary-light;
    }
}