@use '../styles/variables' as var;
.container {
  display: flex;
  height: 800px;
  width: 100%;
}

.rightSide {
  background-color: var.$color-accent;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: var.$color-text-inverse;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  text-align: center;
  color: var.$color-text-inverse;
  font-size: 1rem;
}
