@use '../styles/variables' as var;

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}

.search-results{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}