@use '../styles/variables' as var;

.container {
  width: 100%;
  // margin: auto;
  font-family: sans-serif;
  // padding: 20px;
  // background-color: green;
}

.search-results{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}