@import '../styles/variables'; // בלי הסיומת .scss

.navLink {
  text-decoration: none;
  color: $default-color;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
    color: $hover-color;
  }

  &.active {
    font-weight: bold;
    color: $hover-color;
  }
}
