@use '../styles/mixins' as mixins;
@use '../styles/variables' as var;

.container {
  padding-top: 20px;
  box-sizing: border-box;
  @include mixins.flex-column;
  min-height: 100vh;
  background: var.$gradient-background;
  
   @media (max-width: var.$breakpoint-mobile) {
    overflow-x: hidden;
  }
}

.mainContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  
  @media (max-width: var.$breakpoint-mobile) {
    padding: 10px;
  }
}