@use '../styles/mixins' as mixins;

.container {
  padding-top: 20px;
  box-sizing: border-box;
  @include mixins.flex-column; // כאן השינוי!
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
}