@use '../styles/mixins' as mixins;

.container {
  padding-top: 20px;
  box-sizing: border-box;
  @include mixins.flex-column;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}